@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: white;
    background-image: url('/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    background-color: #1e217a;
}

